<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="../ico/favicon.ico">
		<title>闲云旅游</title>
		<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../css/hotel.css" />
	</head>
	<body>
		<div id="app">
			<div class="navigation">
				<a href="../index.html" class="logo">
					<img src="../img/logofont.png" alt="">
				</a>
				<ul>
					<li class=""><a href="destination.html">目的地</a></li>
					<li class=""><a href="#">跟团游</a></li>
					<li class=""><a href="#">自由行</a></li>
					<li class=""><a href="scenic.html">景点</a></li>
					<li class="current"><a href="hotel.html">酒店</a></li>
					<li class=""><a href="airplane.html">机票</a></li>
					<li class=""><a href="train.html">火车票</a></li>
				</ul>
				<ul class="right">
					<li><a href="register.html">注册</a></li>
					<li><span class="vertical">|</span></li>
					<li><a href="login.html">登录</a></li>
				</ul>
			</div>
			<div>
				<div class="enbox header">
					<div class="right">
						<img src="../img/hotel/hotelheader.jpg" alt="">
					</div>
					<div class="left">
						<div class="top">
							<p class="sub" @click="flagHeader = true">
								<i v-show="flagHeader" class="fa fa-check-square-o" aria-hidden="true"></i>
								<i v-show="!flagHeader" class="fa fa-square-o" aria-hidden="true"></i>
								<span>境内酒店</span>
							</p>
							<p class="sub" @click="flagHeader = false">
								<i v-show="!flagHeader" class="fa fa-check-square-o" aria-hidden="true"></i>
								<i v-show="flagHeader" class="fa fa-square-o" aria-hidden="true"></i>
								<span>境外酒店</span>
							</p>
						</div>
						<div class="inputbox">
							<span class="name">目的地</span>
							<input type="text" placeholder="北京" />
						</div>
						<div class="inputbox">
							<span class="name">入住</span>
							<input type="text" placeholder="2020-01-01" />
						</div>
						<div class="inputbox">
							<span class="name">离店</span>
							<input type="text" placeholder="2020-01-02" />
						</div>
						<div class="btn">搜索</div>
					</div>
				</div>
				<div class="enbox first">
					<div class="title">热门地点推荐</div>
					<ul>
						<li v-for="item in first" :style="'background-image: url('+item.pic+');'">
							<div class="name">
								<div>{{item.name}}</div>
								<div>{{item.num}}家住宿</div>
							</div>
							<div class="price">
								<div>均价</div>
								<div>{{item.p}}元</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="enbox second mod">
					<div class="title">根据住宿类型浏览</div>
					<ul>
						<li v-for="(item, index) in second" :style="'left:'+ 224 * (index - secondIndex) +'px;'">
							<div class="picbox">
								<img :src="item.pic">
							</div>
							<div class="name">
								<div>{{item.name}}</div>
								<div>{{item.num}}家{{item.name}}</div>
							</div>
						</li>
					</ul>
					<div v-show="!(secondIndex == 0)" class="btn btnLeft" @click="secondIndex --">
						<i class="fa fa-angle-left" aria-hidden="true"></i>
					</div>
					<div v-show="!(secondIndex == second.length-5)" class="btn btnRight" @click="secondIndex ++">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</div>
				</div>
				<div class="enbox third mod">
					<div class="title">客人喜爱的民宿短租</div>
					<ul>
						<li v-for="(item, index) in third" :style="'left:'+ 280 * (index - thirdIndex) +'px;'">
							<div class="picbox">
								<img :src="item.pic">
							</div>
							<div class="name">
								<div>{{item.name}}</div>
								<div>{{item.address}}</div>
								<div>{{item.p}}元起</div>
								<div><span>{{item.fen}}</span> · {{item.num}}条住客点评 </div>
							</div>
						</li>
					</ul>
					<div v-show="!(thirdIndex == 0)" class="btn btnLeft" @click="thirdIndex --">
						<i class="fa fa-angle-left" aria-hidden="true"></i>
					</div>
					<div v-show="!(thirdIndex == third.length-4)" class="btn btnRight" @click="thirdIndex ++">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<div class="section footer">
				<div class="wrapper clearFloat">
					<div class="logo">
						<img src="../img/logow.png">
					</div>
					<div class="info">
						<p>2004-2020&nbsp;&copy;&nbsp;闲云旅游&reg;&nbsp;浙ICP备11001111号&nbsp;浙公网安备11010101001111&nbsp;浙ICP证111111号&nbsp;营业执照&nbsp;经营许可证</p>
						<p>闲云旅游为旅行者提供原创实用的出境游旅行指南和旅游攻略、旅行社区和问答交流平台，并提供签证、保险、机票、酒店预订、租车等服务。</p>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/dataHotel.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var vm = new Vue({
				el: "#app",
				data: {
					flagHeader: true,
					first: [],
					second: [],
					secondIndex: 0,
					third: [],
					thirdIndex: 0
				},
				mounted: function() {
					this.first = data1;
					this.second = data2;
					this.third = data3
				}
			})
		</script>
	</body>
</html>
