<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="../ico/favicon.ico">
		<title>闲云旅游</title>
		<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../css/scenic.css" />
	</head>
	<body>
		<div id="app">
			<div class="navigation">
				<a href="../index.html" class="logo">
					<img src="../img/logofont.png" alt="">
				</a>
				<ul>
					<li class=""><a href="destination.html">目的地</a></li>
					<li class=""><a href="#">跟团游</a></li>
					<li class=""><a href="#">自由行</a></li>
					<li class="current"><a href="scenic.html">景点</a></li>
					<li class=""><a href="hotel.html">酒店</a></li>
					<li class=""><a href="airplane.html">机票</a></li>
					<li class=""><a href="train.html">火车票</a></li>
				</ul>
				<ul class="right">
					<li><a href="register.html">注册</a></li>
					<li><span class="vertical">|</span></li>
					<li><a href="login.html">登录</a></li>
				</ul>
			</div>
			<div class="enbox header">
				<ul>
					<li v-for="(item, index) in scenic" :class="{sel:index == scenicSel}" @mouseenter="scenicSel=index">
						<a :href="'#box'+index">
							<img :src="item.themepic" alt="">
							<div class="mask">
								<h3>{{item.theme}}</h3>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<div v-for="(scenicItem, scenicIndex) in scenic" :id="'box'+scenicIndex" class="enbox mod">
				<div class="title">
					<span>{{scenicItem.theme}}</span>
				</div>
				<ul>
					<li v-for="(item, index) in scenicItem.details">
						<div class="picbox">
							<img :src="item.pic" :alt="item.name">
							<h3>{{item.name}}</h3>
						</div>
						<div class="infobox">
							<p>{{item.info}}</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="section footer">
				<div class="wrapper clearFloat">
					<div class="logo">
						<img src="../img/logow.png">
					</div>
					<div class="info">
						<p>2004-2020&nbsp;&copy;&nbsp;闲云旅游&reg;&nbsp;浙ICP备11001111号&nbsp;浙公网安备11010101001111&nbsp;浙ICP证111111号&nbsp;营业执照&nbsp;经营许可证</p>
						<p>闲云旅游为旅行者提供原创实用的出境游旅行指南和旅游攻略、旅行社区和问答交流平台，并提供签证、保险、机票、酒店预订、租车等服务。</p>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/dataScenic.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var vm = new Vue({
				el: "#app",
				data: {
					scenic:[],
					scenicSel:0
				},
				mounted: function() {
					this.scenic = data1;
				}
			})
		</script>
	</body>
</html>
